@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url(/public/assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  src: url(/public/assets/fonts/Poppins-Light.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: Poppins, sans-serif;
  --font-poppins-1: Poppins, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  @apply bg-white text-black ;
  background: var(--background);
}

